[submodule "tools-and-resources/esptool"]
	path = tools-and-resources/esptool
	url = git@github.com:themadinventor/esptool.git
[submodule "tools-and-resources/Sming"]
	path = tools-and-resources/Sming
	url = git@github.com:anakod/Sming.git
[submodule "tools-and-resources/spiffy"]
	path = tools-and-resources/spiffy
	url = git@github.com:alonewolfx2/spiffy.git
[submodule "tools-and-resources/HTML5-Tetris"]
	path = tools-and-resources/HTML5-Tetris
	url = git@github.com:infusion/HTML5-Tetris.git
